body{
    background-color: aquamarine;
    text-align: center;
}
h1{
    font-size: 300%;
    margin: 3%;
}
p{
    font-size: 250%;
    margin: 3% 20% 5% 20%;
    border-style: solid;
    border-width: 3px;
    border-radius: 15px;
    background-color: #e9e9ed;
    padding: 2% 2% 2% 2%;
    text-align: left;
}
button{
    font-size: 120%;
    transform: scale(1.6);
}